<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class="container">
        <h1>Узнать погоду в любом городе</h1>
        <form action="" method="post">
            <input type="text" name="city" placeholder="Введите город" required>
            <button type="submit">Подтвердить</button>
        </form>
        {% if  error %}
            <div class="error">{{error}}</div>
        {% endif %}
        {% if weather %}
            <div class="weather-card">
                <h2>{{weather.city}}</h2>

                <div class="weather-main">
                     <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" >
                    <div class="temp">{{weather.temp}} °C</div>
                </div>
                <div class="weather-desc">{{weather.description}}</div>
                <div class="weather-details">
                    <div>Ощущается как: {{weather.feels_like}}</div>
                    <div>Влажность: {{weather.humidity}}</div>
                </div>
            </div>
        {% endif %}
        <div class="list_city">
            {% for key,weather in city_dict.items() %}
               <div class="list_city-item">
                <h2>{{weather.city}}</h2>

                <div class="weather-main">
                     <img src="http://openweathermap.org/img/wn/{{weather.icon}}@2x.png" >
                    <div class="temp">{{weather.temp}} °C</div>
                </div>
                <div class="weather-desc">{{weather.description}}</div>
                <div class="weather-details">
                    <div>Ощущается как: {{weather.feels_like}}</div>
                    <div>Влажность: {{weather.humidity}}</div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>